@model SettlementCreateModel
@{
    ViewBag.Title = "Бронирование";
}
@if (!User.Identity.IsAuthenticated)
{
    <div class="validation text-danger">Нужно войти в аккаунт</div>
}
<div class="validation text-danger" asp-validation-summary="All"></div>
<div class="form-group">
    <label class="control-label" asp-for="Room.Number">Номер комнаты</label>
    <input type="text" asp-for="Room.Number" class="form-control" readonly/>
    <label class="control-label" asp-for="Category.Name">Категория</label>
    <input type="text" asp-for="Category.Name" class="form-control" readonly/>
    <label class="control-label" asp-for="Category.Bed">Кол. кроватей</label>
    <input type="text" asp-for="Category.Bed" class="form-control" readonly/>
    <label class="control-label" asp-for="Category.Price">Цена</label>
    <input type="text" asp-for="Category.Price" class="form-control" readonly/>
</div>

<form asp-action="booking" asp-controller="home">

    <input type="hidden" asp-for="Room.Id" />
    <input type="hidden" asp-for="Guest.Id" />
    <div class="form-group">
        <label asp-for="Settlement.StartDate" class="control-label">Начальная дата</label>
        <input type="date" asp-for="Settlement.StartDate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Settlement.EndDate" class="control-label">Конечная дата</label>
        <input type="date" asp-for="Settlement.EndDate" class="form-control" />
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="form-group">
            <input type="submit" value="Отправить" class="btn btn-default" />
        </div>
    }
</form>
