@model ProfileModel

<h2>Регистрация</h2>

<form asp-action="RegisterProfile" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="All"></div>
    <div>
        <input type="hidden" asp-for="Id" class="form-control" />
        <div>
            <label asp-for="FirstName" class="control-label">Введите имя</label><br />
            <input type="text" asp-for="FirstName" class="form-control" />
        </div>
        <div>
            <label asp-for="LastName" class="control-label">Введите фамилию</label><br />
            <input type="text" asp-for="LastName" class="form-control" />
        </div>
        <div>
            <label asp-for="Patronymic" class="control-label">Введите отчество</label><br />
            <input type="text" asp-for="Patronymic" class="form-control" />
        </div>
        <div>
            <label asp-for="BithDate" class="control-label">Введите дату рождения</label><br />
            <input type="date" asp-for="BithDate" class="form-control" />
        </div>
        <div>
            <label asp-for="PassportId" class="control-label">Введите паспорт</label><br />
            <input type="number" asp-for="PassportId" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Регистрация" class="btn" />
            <a href="/" class="btn">Пропустить</a>
        </div>
    </div>
</form>